<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" package="com.companyname.dict" >
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="Dict"></application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.samsung.android.app.episodes.permission.SEND_MUlTIPLE_TO_STORYALBUM" />
</manifest>